<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="/static/css/main.css" rel="stylesheet">

    <title>Hello, world!</title>
  </head>
  <body>
  <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Fixed navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#" id="last" >last</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="next" >next</a>
            </li>
          </ul>
          <div class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" id="searchKey" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" id="Search">Search</button>
          </div>
        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">
	<div class="row">
          
        </div>


    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
      </div>
    </footer>

<div class="modal fade bd-modal-lg" tabindex="-1" role="dialog" id="myLargeModalLabel" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body"></div>
	<div class="modal-footer"><button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button></div>
    </div>
	
  </div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"  crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="/static/js/markdown.min.js"  crossorigin="anonymous"></script>
<script>
var next = ""
var last = ""
var lastarr=[]
function pageHtml(data){
	var items = [];
	  last = next;
	  $.each(data.dblist, function(key, val) {		
	    items.push('<div class="col-md-4" id="li'+key+'" ><p>'+val.Title+'</p><button type="button" data-text="'+val.Content+'" class="btn btn-primary" data-toggle="modal" data-target=".bd-modal-lg">show</button><button id="del" type="button" data-text="'+val.Id+'" class="btn btn-secondary"  >del</button></div>');
		next = val.Id
	  });
	  $('.row').html(items.join(''));
	
}
function loadDB(){
$.ajax({
  dataType: "json",
  url: '/showlist/10',
  data:{begin:next},
  success: pageHtml,
});
}
$(document).ready(function(){
loadDB()
$('#myLargeModalLabel').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget)
  var recipient =markdown.toHTML(button.data('text')); 
  var modal = $(this)
  modal.find('.modal-body').html(recipient)
 
})
$('#next').click(function(){
    //alert("next");
	lastarr.push(last)
	loadDB()
});
$('#last').click(function(){
	//alert("last");
	if (lastarr.length===0)return
	next = lastarr.pop();
	console.log(next)
	loadDB()
    
});
$('#Search').click(function(){	
	$.ajax({
	  dataType: "json",
	  url: '/search/'+$('#searchKey').val(),	  
	  success: pageHtml,
	});
})
$('.row').on('click','#del',function(event){	
	let but = $(this)	
	let id = $(this).data("text")	
	$.ajax({
	  dataType: "json",
	  url: '/del',	 
	  data:{"id":encodeURIComponent(id)},
	  success: function(res){
		but.parent().remove();
		console.log(res)
		},
	});
});	 
});
</script>
  </body>
</html>
