<!doctype html>
<html lang="zh" class="h-100">
 <head>
  <meta name="keywords" content="米果 推荐 品牌 产品 网购 优惠卷 价格 优惠 查价 比价 订单 查询">
  <meta name="description" content="米果推荐,品牌推荐,店铺推荐,产品推荐,网购优惠卷,价格优惠,查价比价,订单查询,总能找到值得推荐的好东西">
  <title>米果推荐</title>
  {{template "header"}}
  <link href="//img.zaddone.com/static/css/main.css" rel="stylesheet">
 </head>
<body class="d-flex flex-column h-100">
{{template "menu"}}
<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
<div class="container text-center">
test
</div>
</main>
{{template "footer"}}
<script>
</script>

</body>
</html>

