{{define "footer"}}
<footer class="footer mt-auto py-3">
  <div class="container ">
   <!--
    <span>
    <a target="_blank" href="https://zaddone.github.io/">文章</a>
    </span>
   -->
    <span  class="text-muted" >© 2020 米果推荐 蜀ICP备 19018296号-1 CDN支持<a href="https://www.upyun.com/" target="_blank"><img src="https://opentalk.upyun.com/static/images/header/logo.svg?tdsourcetag=s_pctim_aiomsg" alt="又拍云"></a> </span>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
{{end}}
