<!doctype html>
<html lang="zh" class="h-100">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="米果 推荐 品牌 产品 网购 优惠卷 价格 优惠 查价 比价 订单 查询">
    <meta name="description" content="米果推荐,品牌推荐,店铺推荐,产品推荐,网购优惠卷,价格优惠,查价比价,订单查询,总能找到值得推荐的好东西">
    <meta name="author" content="zaddone">
    <title>米果推荐</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">

<link rel="apple-touch-icon" href="//img.zaddone.com/static/img/ico/favicon_180.jpg" sizes="180x180">
<link rel="icon" href="//img.zaddone.com/static/img/ico/favicon_32.png" sizes="32x32" type="image/png">
<link rel="icon" href="//img.zaddone.com/static/img/ico/favicon_16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="//img.zaddone.com/static/manifest.json">
<link rel="mask-icon" href="//img.zaddone.com/static/img/ico/favicons.svg" color="#ffffff">
<link rel="icon" href="//img.zaddone.com/static/img/ico/favicon.ico">
<meta name="msapplication-config" content="//img.zaddone.com/static/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<link href="//img.zaddone.com/static/css/main.css" rel="stylesheet">
<!-- Custom styles for this template -->
</head>
<body class="d-flex flex-column h-100">
<header>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark"  id="clear" style="display: none;">
<a class="navbar-brand" href="javascript:void(0)" id="p" data-id="p">zaddone</a>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {{range .}}
    <a class="dropdown-item" id="nav{{.py}}" href="javascript:jsonGetSearch('{{.py}}')">{{.Name}}</a>
    {{end}}
    <a class="dropdown-item" href="javascript:ShowSearch()">
	<svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M12.442 12.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z" clip-rule="evenodd"></path>
  <path fill-rule="evenodd" d="M8.5 14a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM15 8.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z" clip-rule="evenodd"></path>
</svg>
    </a>
  </div>
</div>

</nav>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark justify-content-center"  id="form">
<form method="get" class="form-inline" style="width:100%" >
<input type='hidden' name="py" id="pyinput" value="">
<div class="input-group input-group-lg" style="width:100%" >

  <input type="text" name="keyword" id="searchKey" class="form-control " placeholder="链接 关键词" aria-label="链接 关键词" aria-describedby="inputGroup-sizing-lg" >
<!--
<div class="input-group-append"  id="clear" style="display: none;">
<button class="btn btn-outline-secondary" type="button" >
<svg class="bi bi-x-circle position-static" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M10 17a7 7 0 100-14 7 7 0 000 14zm0 1a8 8 0 100-16 8 8 0 000 16z" clip-rule="evenodd"></path>
  <path fill-rule="evenodd" d="M12.646 13.354l-6-6 .708-.708 6 6-.708.708z" clip-rule="evenodd"></path>
  <path fill-rule="evenodd" d="M7.354 13.354l6-6-.708-.708-6 6 .708.708z" clip-rule="evenodd"></path>
</svg>
</button>
</div>
-->
  <div class="input-group-append">
    <button class="btn btn-outline-secondary search" type="submit" id="button-addon2" > 
<svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M12.442 12.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z" clip-rule="evenodd"></path>
  <path fill-rule="evenodd" d="M8.5 14a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM15 8.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z" clip-rule="evenodd"></path>
</svg>

</button>
  </div>
</div>
</form>
  </nav>
</header>

<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
<div class="container text-center">
<!--
<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary">Left</button>
  <button type="button" class="btn btn-secondary">Middle</button>
  <button type="button" class="btn btn-secondary">Right</button>
</div>
-->
<div class="row list">
</div>
<div class="row wait">
</div>
<section class="jumbotron text-center">
  <div class="container">
   <div class="row top">
    <div class="col-lg-6"  >
      <h2><span class="badge badge-dark">米果推荐</span></h2>
      <p>总能找到值得推荐的好东西</p>
    </div>
    <div class="col-lg-3"  >
    <div class="card">
	<img src="//img.zaddone.com/static/img/qrcode_for_gh_4c0babf5f937_344.jpg" class="card-img-top" alt="米果服务 购物查价查订单">
	<div class="card-body"><p>米果服务</p></div>
    </div>
    </div>
<!--
    <div class="col-lg-3"  >
    <div class="card">
	<img src="//img.zaddone.com/static/img/qrcode_for_gh_5aeb5a710aeb_344.jpg" class="card-img-top" alt="米果推荐 购物查价查订单">
	<div class="card-body"><p>米果推荐</p></div>
    </div>
    </div>
-->

   </div>
  </div>
    </div>
<div class="container">
  <div class="row">
  {{range .}}
     <div class="col-lg top" ><a href="{{.Uri}}"  target="_blank" class="card-link"><img src="{{.Img}}" class="card-img-top" alt="{{.Name}}"></a></div>
  {{end}}

  </div>
</div>
</section>
</div>
</main>



<footer class="footer mt-auto py-3">
  <div class="container ">
   <!--
    <span>
    <a target="_blank" href="https://zaddone.github.io/">文章</a>
    </span>
   -->
    <span  class="text-muted" >© 2020 米果推荐 蜀ICP备 19018296号-1 CDN支持<a href="https://www.upyun.com/" target="_blank"><img src="https://opentalk.upyun.com/static/images/header/logo.svg?tdsourcetag=s_pctim_aiomsg" alt="又拍云"></a> </span>
  </div>
</footer>

<div class="modal fade bd-modal-lg" tabindex="-1" role="dialog" id="myLargeModalLabel" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title"></h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	<p class="down" ></p>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="text">
      </div>
      <div >
      <p class="pmsg"></p>
      </div>
    </div>
    <div class="col-sm">
	<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
	  <div class="carousel-inner">
	  </div>
 	  <a class="carousel-control-prev" href="#carouselExampleSlidesOnly" role="button" data-slide="prev">
 	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
 	    <span class="sr-only">Previous</span>
 	  </a>
 	  <a class="carousel-control-next" href="#carouselExampleSlidesOnly" role="button" data-slide="next">
 	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
 	    <span class="sr-only">Next</span>
 	  </a>
	</div>
    </div>
  </div>
</div>
     </div>

     <div class="modal-footer">
     <span><button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button></span>
     <span class="footerdown" ></span></div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
<script src="//img.zaddone.com/static/js/main.js?_=123456"  crossorigin="anonymous"></script>

{{range .}}
  <script src="//img.zaddone.com/static/js/{{.py}}.js?_=123456"  crossorigin="anonymous"></script>
{{end}}

<script src="/script"  crossorigin="anonymous"></script>
<script>
$(document).ready(function(){
  getCiteCode()
  Search()
});
</script>

</body>
</html>

