<!doctype html>
<html lang="zh" class="h-100">
<head>
 <meta name="keywords" content="米果 推荐 品牌 产品 网购 优惠卷 价格 优惠 查价 比价 订单 查询">
 <meta name="description" content="米果推荐,品牌推荐,店铺推荐,产品推荐,网购优惠卷,价格优惠,查价比价,订单查询,总能找到值得推荐的好东西">
 <title>米果推荐</title>
 {{template "header"}}
 <link href="//img.zaddone.com/static/css/main.css" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">
{{template "menu"}}
<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
<div class="container text-center">
<section class="jumbotron text-center">
  <div class="container">
   <div class="row top">
    <div class="col-lg-6"  >
      <h2><span class="badge badge-dark">米果推荐</span></h2>
      <p>总能找到值得推荐的好东西</p>
    </div>
    <div class="col-lg-3"  >
    <div class="card">
	<img src="//img.zaddone.com/static/img/qrcode_for_gh_4c0babf5f937_344.jpg" class="card-img-top" alt="米果服务 购物查价查订单">
	<div class="card-body"><p>米果服务</p></div>
    </div>
    </div>

   </div>
  </div>
    </div>
    <div class="container">
      <div class="row">
         <div class="col-lg top" ><a href="https://www.suning.com"  target="_blank" class="card-link"><img src="//img.zaddone.com/static/img/link/snyg.png" class="card-img-top" alt="苏宁易购"></a></div>
         <div class="col-lg top" ><a href="https://www.taobao.com"  target="_blank" class="card-link"><img src="//img.zaddone.com/static/img/link/taobao.png" class="card-img-top" alt="淘宝"></a></div>
         <div class="col-lg top" ><a href="https://www.jd.com"  target="_blank" class="card-link"><img src="//img.zaddone.com/static/img/link/jd.png" class="card-img-top" alt="京东"></a></div>
         <div class="col-lg top" ><a href="https://www.mogu.com/"  target="_blank" class="card-link"><img src="//img.zaddone.com/static/img/link/mogu.png" class="card-img-top" alt="蘑菇街"></a></div>
         <div class="col-lg top" ><a href="https://youhui.pinduoduo.com"  target="_blank" class="card-link"><img src="//img.zaddone.com/static/img/link/pdd.png" class="card-img-top" alt="拼多多"></a></div>
      </div>
    </div>
</section>
</div>
</main>

{{template "footer"}}

</body>
</html>

